.projects-container {
    min-height: 100vh;
    width: 100vw;
}

#projects {
    padding-top: 15vh;
}

.projects {
    background-color: rgba(35, 35, 35, .9);
    min-height: 65vh;
    padding: 0 4%;
    padding-top: 100px;
    width: 100vw;
}

.project {
    margin: 1% 3%;
    margin-bottom: 2%;
    width: 640px;
    min-height: 330px;
    opacity: 0.89;
    display: inline-block;
    vertical-align: top;
}

.image-container {
    display: inline-block;
    height: 150px;
    width: 260px;
    vertical-align: top;
}

.image1 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #278da9;
    margin-bottom: 3%;
}

.project-body-container {
    margin-left: 30px;
    width: 300px;
    display: inline-block;
}

.project-title {
    color: #F5FFFA;
    font-family: 'Lato';
    font-size: 19px;
    margin-bottom: 10px;
}

.project-title:hover {
    color: #4682B4;
}

.project-summary {
    color: #F5FFFA;
    font-size: 17px;
    display: block;
    margin-bottom: 15px;
    opacity: .9;
}

.tech-used {
    background-color: #FFA500;
    border-radius: 10px;
    color: black;
    display: inline-block;
    font-family: 'Lato';
    margin: 3px;
    padding: 5px 10px;
}

.projects-or {
    color: white;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: super;
    margin-right: 3%;
    margin-left: 3%;
}

.view-site {
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .projects {
        padding: 0;
        padding-top: 40px;
        padding-bottom: 50px;
    }

    #projects {
        padding-top: 10vh;
    }

    .project {
        display: grid;
        place-items: center;
        height: 400px;
        width: 100vw;
        margin: 0;
        margin-bottom: 15%;
    }

    .image-container {
        display: block !important;
        margin-bottom: 4px;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1200px) {
    #projects {
        padding-top: 5vh;
    }
}

@media only screen and (min-width: 1300px) and (max-width: 2200px) {
    #projects {
        padding-top: 7.5vh;
    }
}  