.skills-container{
    display: inline-block;
    height: 100%;
    justify-content: center;
    width: 47%;
}

.skills-box {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: auto;
    opacity: 0.8;
    text-align: center;
    width: 100%;
}

.skills-inner-box {
    min-height: 50vh;
    width: 100vw;
}

.skills-icons {
    height: 30%;
    width: 30%;
    margin-bottom: 12px;
}

.skills-icons-resize {
    height: 22%;
    width: 22%;
    margin-bottom: 12px;
}

.skills-sections {
    color: #FFA500;
    display: inline-block;
    margin-bottom: 50px;
    margin: 1%;
    min-height: 250px; 
    text-align: center;
    width: 48%;
    vertical-align: top;
}

.text {
    font-size: 100%;
    margin-bottom: 10px;
    word-break: break-all;
}

.skills-section-title{
    color: #F5FFFA;
    border-bottom: 2px solid #F5FFFA;
    padding-bottom: 5px;
    max-width: 200px;
    margin: auto;
    font-size: 27px;
    margin-bottom: 10px;
    animation: text 3s 1;
    text-align: center;
}

@keyframes text{
    0% {
        color: black;
        margin-bottom: 40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: 40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 950px) {
    .skills-container {
        margin-left: 0;
        width: 90%;
    }

    .skills-box {
        margin-top: 14.5%;
        margin-bottom: 6%;
    }

    .skills-sections {
        width: 44%;
        margin: 2%;
    }
}

@media only screen and (min-width: 980px) and (max-width: 1300px) {
    .skills-container {
        margin-left: 3%;
        margin-top: 180px;
        width: 40%;
    }

    .skills-sections {
        width: 35%;
        margin: 4%;
    }
}

@media only screen and (min-width: 1301px) and (max-width: 1600px) {
    .skills-container {
        margin-left: 3%;
        width: 45%;
    }
}

@media only screen and (min-width: 2201px) {
    .skills-container{
        margin-left: 4%;
    }
}