.ReactModalPortal>div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background-color: #1b2735;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(192, 174, 174);
    min-height: 15vh;
    min-width: 17vw;
    padding: 13px;
    outline: none;
    border-radius: 20px;
}

.modal-button {
    background-color: rgb(16, 72, 145);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    width: 70px;
    height: 30px;
}