*{
  margin: 0;
  padding: 0;
  border: 0;
}

.body {
  min-height: 2000px;
  overflow: hidden;
  width: 100%;
}

.background-image {
  background: url('../public/images/programming-wallpaper.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 150vh;
  width: 100vw;
}
